
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

.form {
  position: relative;
  padding: 156px 24px 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
  min-height: 890px;

  &-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-wrap {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    border: 1px solid var(--border-primary);
    background: var(--bg-primary);
    padding: 48px;
    width: 100%;
    max-width: 480px;

    .h5 {
      margin-bottom: 18px;
      text-align: center;
    }

    & > span {
      text-align: center;
    }

    span {
      color: var(--text-icon-transparent-white);
    }

    label,
    .label {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      position: relative;
      width: 100%;
    }

    

    .pass-icon {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 12px;
      right: 16px;
      cursor: pointer;
      z-index: 5;
      user-select: none;
      
    }

    a:hover {
      color: var(--text-icon-accent-primary);
    }

    .custom-select {
      width: 100%;
      position: relative;

      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background: url(../img/dropdown.svg) no-repeat center / cover;
        position: absolute;
        top: 12px;
        right: 16px;
        transform: rotate(180deg);
        z-index: 3;
      }
    }

    select {
      appearance: none;
      width: 100%;

      option:first-child {
        display: none;
      }
    }

    .number-wrap {
      width: 100%;
      position: relative;

      .plus {
        width: 16px;
        height: 16px;
        background: url(../img/dropdown.svg) no-repeat center / cover;
        top: 6px;
        right: 16px;
        position: absolute;
        z-index: 2;
        cursor: pointer;
      }

      .minus {
        width: 16px;
        height: 16px;
        background: url(../img/dropdown.svg) no-repeat center / cover;
        transform: rotate(180deg);
        bottom: 6px;
        right: 16px;
        position: absolute;
        z-index: 2;
        cursor: pointer;
      }
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-top: 24px;
    }
  }

  &-input {
    border-radius: 8px;
    border: 1px solid var(--border-primary);
    background: var(--bg-secondary);
    padding-left: 16px;
    color: var(--text-icon-primary);
    outline: none;
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-family: "PT Root UI";
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all .3s ease;

    &::placeholder {
      color: var(--text-icon-transparent-white);
    }

    &.error-input {
      border: 1px solid var(--border-accentPrimary);
    }

    &:hover,
    // &:not(:placeholder-shown),
    &:focus {
      background: var(--bg-primary);
    }
  }

  .error-text {
    color: var(--text-icon-accent-primary);
  }

  .input-wrap {
    display: flex;
    position: relative;
    width: 100%;
  }

  .checkbox-input {
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    gap: 0;
    margin: 0;
    width: auto;

    input {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      pointer-events: none;
    }

    p {
      width: calc(100% - 36px);
      display: inline!important;
      text-align: left!important;
    }

    .checkmark {
      width: 20px;
      height: 20px;
      min-width: 20px;
      border-radius: 4px;
      border: 1px solid var(--border-primary);
      background: var(--bg-secondary);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      transition: all .3s ease;

      &::after {
        content: "";
        width: 12px;
        height: 12px;
        background: url(../img/checkbox.svg) no-repeat center;
        opacity: 0;
        transition: all .3s ease;
      }
    }

    input:checked ~ .checkmark {
      background: var(--bg-accentPrimary);
      border-color: var(--bg-accentPrimary);

      &::after {
        opacity: 1;
      }
    }
  }

  .main-btn {
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  p:last-child {
    display: flex;
    gap: 12px;
    text-align: center;
  }

  @media screen and (max-width: 1400px) {
    padding-top: 172px;
    padding-bottom: 64px;

    &-wrap {
      padding: 36px;
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: 74px;
    height: auto;
    min-height: 1px;

    &-bg {
      display: none;
    }

    &-wrap {
      padding: 0;
      border: none;
      border-radius: 0;

      .h5 {
        margin-bottom: 18px;
      }

      label {
        margin-top: 16px;
      }
  
      &-inner {
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        margin-top: 16px;
      }

      & > span {
        text-align: center;
      }

      .main-btn {
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }

    p:last-child {
      flex-direction: column;
      align-items: center;
      gap: 4px;
      text-align: center;
    }
  }
}

.pass-btn {
  background: url(../img/eye.svg) no-repeat center / cover;
}

.prefix-btn {
  background: url(../img/refresh.svg) no-repeat center / cover;
}

.account {
  display: flex;
  min-height: 100vh;
  padding-left: 94px;
  transition: all .3s ease;

  .main-btn,
  .primary-btn {
    padding: 12px 18px;
    border-radius: 8px;
  }

  .input-wrap {
    position: relative;
  }

  &-nav {
    position: fixed;
    left: 0;
    top: 0;
    border-right: 1px solid var(--border-primary);
    background: var(--bg-primary);
    height: 100%;
    width: 100%;
    max-width: 260px;
    white-space: nowrap;
    transition: all .3s ease;

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px;
      width: 260px;

      .logo {
        width: 46px;
        display: flex;
      }

      .close {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/dot-circle.svg) no-repeat center / cover;
        transition: all .3s ease;
        cursor: pointer;

        &::after {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: var(--bg-primary, #000);
          z-index: 3;
          opacity: 0;
          transition: all .3s ease;
        }

        &.active {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      padding: 12px;
      white-space: nowrap;
      position: relative;

      span {
        color: var(--text-icon-tertiary);
        margin-bottom: 12px;
        transition: all .3s ease;
      }

      &-item {
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 8px;
        margin-bottom: 4px;
        color: var(--text-icon-secondary);
        gap: 12px;
        cursor: pointer;
        width: 100%;
        transition: all .3s ease;

        p {
          transition: all .3s ease;
        }

        svg {
          min-width: 20px;
          transition: all .3s ease;
        }

        path {
          fill: var(--text-icon-secondary);
        }
        
        &:hover {
          background: var(--bg-secondary, #141414);
        }

        &.active {
          background: var(--text-icon-accent-primary);
          box-shadow: 0px 0px 32px 0px rgba(225, 47, 39, 0.64);
          color: var(--text-icon-primary);

          path {
            fill: var(--text-icon-primary);
          }
        }

        &.parrent-item {
          background: var(--bg-secondary, #141414);

          &::after {
            content: "";
            width: 20px;
            height: 20px;
            margin-left: auto;
            background: url(../img/dropdown.svg) no-repeat center / cover;
            transition: all .3s ease;
            z-index: 3; 
          }

          &.closed {
            &::after {
              transform: rotate(180deg);
            }
          }
        }
      }

      .sub-menu {
        width: 100%!important;
        padding: 0!important;
        display: flex;
        flex-direction: column;

        &-item {
          display: flex;
          align-items: center;
          padding: 12px;
          border-radius: 8px;
          margin-bottom: 4px;
          cursor: pointer;

          &::before {
            content: "";
            width: 20px;
            height: 20px;
            background: url(../img/ring.svg) no-repeat center / cover;
            margin-right: 12px;
          }

          .sum {
            margin-left: auto;
            padding: 4px 8px;
            border-radius: 60px;
            background: var(--bg-primaryInverse);
            color: var(--text-icon-primary-inverse);
          }

          &:hover {
            background: var(--bg-secondary, #141414);
          }
        }
      }
    }

    @media screen and (min-width: 1400px) {
      &.hide {
        max-width: 94px;
        overflow: hidden;
  
        .account-nav-head {
  
          .close {
            opacity:0;
            visibility: hidden;
          }
        }
  
        .account-nav-list {
  
          &::before {
            content: "–";
            text-align: center;
            margin-bottom: 12px;
            color: var(--text-icon-tertiary, rgba(255, 255, 255, 0.40));
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.48px;
            text-transform: uppercase;
            position: absolute;
            width: 46px;
            left: 24px;
            top: 12px;
          }
  
          span {
            opacity:0;
            visibility: hidden;
          }
  
          &-item {
  
            svg {
              transform: translateX(13px);
            }
  
            p {
              opacity:0;
              visibility: hidden;
            }
  
            &.parrent-item {
  
              &::after {
                opacity:0;
                visibility: hidden;
              }
            }
          }
  
          .sub-menu {
            display: none;
          }
        }
  
        &:hover {
          max-width: 260px;
          overflow: visible;
  
          .account-nav-head {
    
            .close {
              opacity:1;
              visibility: visible;
            }
          }
    
          .account-nav-list {
    
            &::before {
              display: none;
            }
    
            span {
              opacity:1;
              visibility: visible;
            }
    
            &-item {
    
              svg {
                transform: translateX(0);
              }
    
              p {
                opacity:1;
                visibility: visible;
              }
    
              &.parrent-item {
    
                &::after {
                  opacity:1;
                  visibility: visible;
                }
              }
            }
    
            .sub-menu {
              display: flex;
            }
          }
        }
      }
    }
  }

  &-wrap {
    margin: 0 auto;
    padding: 24px 24px 48px;
    width: 100%;
    max-width: 1328px;
    display: flex;
    flex-direction: column;

    & > span {
      color: var(--text-icon-tertiary);
      margin-top: auto;
      padding-top: 24px;
    }
  }

  &-head {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 12px 24px;
    margin-bottom: 24px;
    background: var(--bg-secondary);
    position: relative;

    .menu-account-btn {
      display: none;
    }
    
    a {
      display: flex;
    }

    .lang {
      margin-left: auto;
      margin-right: 16px;
    }

    .user {
      display: flex;
      cursor: pointer;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      &-modal {
        position: absolute;
        right: 0;
        top: calc(100% + 12px);
        width: 320px;
        z-index: 3;
        pointer-events: none;
        opacity: 0;
        transition: all .3s ease;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        background: var(--bg-secondary);

        &-head {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 18px 24px;
          border-bottom: 1px solid var(--border-primary);
          cursor: pointer;

          img {
            width: 40px;
            height: 40px;
          }

          &-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: calc(100% - 52px);
            gap: 4px;

            p {
              color: var(--text-icon-secondary);
            }

            span {
              color: var(--text-icon-tertiary);
            }
          }

          &:hover {
            background: var(--bg-transparentBlurGray);
          }
        }

        &-links {
          display: flex;
          flex-direction: column;
        }

        &-link {
          padding: 18px 24px;
          display: flex;
          align-items: center;
          gap: 12px;
          border-bottom: 1px solid var(--border-primary);

          &:hover {
            background: var(--bg-transparentBlurGray);
          }
        }

        &-btn {
          padding: 12px;

          .main-btn {
            width: 100%;
            padding: 12px 18px;
          }
        }

        &.active {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }

  &-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    &-item {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      border-radius: 12px;
      padding: 24px;
      width: calc(50% - 12px);
      background: var(--bg-secondary);

      &-head {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;

        &-icon {
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          background: var(--bg-tertiary, #333);
        }

        .h6 {
          width: calc(100% - 60px);
        }
      }

      & > * {
        width: 100%;
      }

      .btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > * {
          width: calc(50% - 4px);
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    text-align: center;
    background: var(--bg-secondary);
    margin-bottom: 24px;

    &-head {
      padding: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }  

  .account-table {
    display: flex;
    width: 100%;
    padding-bottom: 24px;
    flex-direction: column;

    &-item {
      display: flex;
      align-items: center;
      padding: 16px;
      justify-content: space-between;
      border-bottom: 1px solid var(--border-primary);

      &-inner {
        display: flex;
        align-items: flex-start;
        padding: 0 12px;
        width: calc(100% / 3);
        text-align: left;
        position: relative;
      }

      &_head {
        color: var(--text-icon-tertiary);
      }
    }

    &_free {
      .account-table-item-inner {
        width: 170px;
        white-space: nowrap;

        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(6) {
          min-width: 72px;
          max-width: 100px;
        }
      }
    }

    &_main {
      .account-table-item-inner {
        width: calc(50% - 56px);

        &:last-child {
          width: 44px;
        }
      }
    }

    .settings-btn {
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover,
      &.active {
        path {
          fill-opacity: 1;
        }
      }
    }

    .settings-wrap {
      position: absolute;
      top: calc(100% + 4px);
      width: 160px;
      right: 0;
      opacity: 0;
      pointer-events: none;
      transition: all .4s ease;
      z-index: 5;
      
      &__inner {
        border: 1px solid #1F1F1F;
        background: #000;
        border-radius: 12px;
      }

      &__link {
        padding: 12px;
        cursor: pointer;
        transition: all .4s ease;

        &:not(:last-child) {
          border-bottom: 1px solid #1F1F1F;
        }

        &:hover {
          background-color: #141414;
        }
      }

      &.active {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  &-help {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    padding: 48px 24px;
    text-align: center;
    background: var(--bg-secondary);
    margin-bottom: 24px;
    
    &-icon {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: var(--bg-tertiary, #333);
      margin-bottom: 24px;
    }

    .h6 {
      margin-bottom: 16px;
    }

    span {
      color: var(--text-icon-secondary);
      margin-bottom: 24px;
      display: block;
    }
  }

  &.open {
    padding-left: 260px;
  }

  .profile-nav {
    display: flex;
    margin-bottom: 24px;
    gap: 8px;

    &-item {
      padding: 12px 18px;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      backdrop-filter: blur(16px);
      cursor: pointer;
      transition: all .3s ease;

      &:hover {
        background: var(--bg-transparentBlurGray);
      }

      &.active {
        background: var(--bg-accentPrimary);
        box-shadow: 0px 0px 32px 0px rgba(225, 47, 39, 0.64);

        path {
          fill: var(--text-icon-primary);
        }
      }
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
      margin-bottom: 12px;

      &-item {
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .profile-tab-item {
    .account-list {
      padding-top: 24px;

      .h5 {
        padding-left: 24px;
        text-align: left;
        margin-bottom: 24px;
        align-self: flex-start;
      }

      .row-icon {
        gap: 10px;
        display: flex;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .profile-tab-wrap {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: var(--bg-secondary);

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    .h5 {
      margin-bottom: 24px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .file-wrap {
        display: flex;
        width: 100%;
        align-items: flex-start;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--border-primary);
        margin-bottom: 24px;

        img {
          width: 96px;
          height: 96px;
          border-radius: 12px;
          margin-right: 24px;
        }

        .input-file {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 18px;
          position: relative;
          width: calc(100% - 120px);
          max-width: 100%;

          input {
            position: absolute;
            opacity: 0;
            pointer-events: none;
          }
        }
      }

      label {
        margin-bottom: 24px;
        width: 100%;
        max-width: 320px;
        gap: 12px;
        position: relative;
        display: flex;
        flex-direction: column;

        .pass-icon {
          width: 20px;
          height: 20px;
          position: absolute;
          bottom: 12px;
          right: 16px;
          cursor: pointer;
          z-index: 5;
        }
      }

      &.form-pass {
        label {
          width: calc(50% - 12px);
          max-width: 100%;
        }
      }

      .labels {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .req-info {
      display: flex;
      flex-direction: column;
      gap: 12px;

      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 24px;

        li {
          position: relative;
          display: flex;
          align-items: center;
          gap: 4px;

          &::before {
            content: "";
            margin: 10px;
            width: 6px;
            height: 6px;
            min-width: 6px;
            background: var(--text-icon-accent-primary);
          }
        }
      }
    }

    .btns {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .alert-text {
      border-radius: 8px;
      background: rgba(225, 47, 39, 0.08);
      padding: 16px 24px;
      margin-bottom: 24px;
      width: 100%;
      color: var(--text-icon-accent-primary);
      transition: all .3s ease;

      &.active {
        background-color: rgba(255, 183, 0, 0.24);
        color: #FFAE00;
      }
    }

    .aut-btn {
      margin-top: 24px;

      span:last-child {
        display: none;
      }
    }
  }

  &-payment {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 12px;
      background: var(--bg-secondary);
      padding: 24px;
      text-align: center;
      margin-bottom: 24px;

      .h6 {
        margin-bottom: 24px;
      }

      .price {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 24px;

        svg {
          width: 64px;
          height: 64px;
        }

        path {
          fill: var(--text-icon-primary);
        }
      }

      .number-wrap {
        width: 100%;
        max-width: 320px;
        height: 72px;
        position: relative;
        margin-bottom: 24px;

        .form-input {
          height: 100%;
          text-align: center;
        }

        .plus {
          width: 16px;
          height: 16px;
          background: url(../img/dropdown.svg) no-repeat center / cover;
          top: 20px;
          right: 16px;
          position: absolute;
          z-index: 2;
          cursor: pointer;
        }
  
        .minus {
          width: 16px;
          height: 16px;
          background: url(../img/dropdown.svg) no-repeat center / cover;
          transform: rotate(180deg);
          bottom: 20px;
          right: 16px;
          position: absolute;
          z-index: 2;
          cursor: pointer;
        }
      }

      .total {
        text-align: center;

        span {
          color: var(--text-icon-accent-primary);
        }
      }
    }

    .h7 {
      margin-bottom: 24px;
    }

    .payments-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 8px;
      margin-bottom: 24px;
      
      &-item {
        width: 153px;
        height: 88px;
        padding: 12px;
        border-radius: 12px;
        border: 1px solid var(--border-primary);
        background: var(--bg-secondary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        cursor: pointer;
        text-align: center;
        flex-grow: 1;
        transition: all .3s ease;

        input {
          position: absolute;
          overflow: hidden;
          width: 0;
          height: 0;
          opacity: 0;
          pointer-events: none;
        }

        &.active,
        &:hover {
          background: var(--bg-primary);
        }
      }

      &_col {
        .payments-list-item {
          display: none;

          &.show {
            display: flex!important;
          }
        }
      }
    }

    .prices {
      margin-top: 24px;
      margin-bottom: 36px;
      display: flex;
      align-items: center;
      gap: 24px;
      
      .h8 {

        span {
          color: var(--text-icon-tertiary);
        }
      }
    }

    .payment-btn {
      padding: 21px 24px;
      min-width: 220px;
    }
  }

  &-chat {
    border-radius: 12px;
    border: 1px solid var(--border-primary);
    background: var(--bg-secondary);
    display: flex;
    height: calc(100vh - 204px);

    &-left {
      border-right: 1px solid var(--border-primary);
      display: flex;
      flex-direction: column;
      width: 360px;

      .chat-add {
        display: none;
      }

      .search {
        padding: 24px;
        height: 93px;
        border-bottom: 1px solid var(--border-primary);

        .form-input {
          padding-left: 48px;
          background-image: url(../img/search.svg);
          background-repeat: no-repeat;
          background-position: 16px 12px;
          border-radius: 36px;

        }
      }

      &-wrap {
        display: flex;
        flex-direction: column;
        height: 100%;

        & > span {
          color: var(--text-icon-transparent-white);
          padding: 24px;
        }

        .account-chat-list {
          display: flex;
          flex-direction: column;
          height: calc(100% - 156px);
          padding: 0 12px 24px;
          overflow: auto;

          &-item {
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            padding: 12px;
            cursor: pointer;
            transition: all .3s ease;

            &-head {
              display: flex;
              width: 100%;
              justify-content: space-between;
              gap: 4px;
              margin-bottom: 4px;

              p:last-child {
                white-space: nowrap;
              }
            }
            
            .body-14m {
              color: var(--text-icon-secondary);
              transition: all .3s ease;
            }

            .body-14r {
              color: var(--text-icon-tertiary);
              transition: all .3s ease;
            }

            &:hover {
              background: var(--bg-transparentBlurGray);
            }

            &.active {
              background: var(--bg-accentPrimary);
              color: var(--text-icon-primary);

              .body-14r {
                color: var(--text-icon-primary);
              }
            }
          } 

          &::-webkit-scrollbar {
            width: 6px;
          }
          
          /* Track */
          &::-webkit-scrollbar-track {
            background: transparent;
          }
          
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: var(--bg-tertiary);
            border-radius: 4px;
          }
        }
      }

    }

    &-right {
      width: calc(100% - 360px);
      height: 100%;
      overflow: hidden;
      display: flex;

      &.empty {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      &-tab {
        width: 100%;
        height: 100%;

        .chat-item {
          width: 100%;
          height: 100%;
          position: relative;

          &-head {
            padding: 24px;
            display: flex;
            align-items: center;
            gap: 12px;
            width: 100%;
            height: 93px;
            border-bottom: 1px solid var(--border-primary);

            .back-chat {
              display: none;
              width: 20px;
              height: 20px;
              min-width: 20px;
              margin-right: 2px;
            }

            &-left {
              display: flex;
              flex-direction: column;
              gap: 4px;

              p {
                color: var(--text-icon-secondary);
              }

              span {
                color: var(--text-icon-tertiary);
              }
            }

            &-right {
              display: flex;
              align-items: center;
              flex-wrap: nowrap;
              margin-left: auto;

              .tag {
                border-radius: 60px;
                background: var(--bg-tertiary);
                padding: 6px 10px;
                margin-right: 12px;
              }

              .settings {
                cursor: pointer;
              }
            }
          }

          &-content {
            width: 100%;
            height: calc(100% - 93px);
            padding: 12px 12px 144px;
            overflow: auto;

            .message {
              padding: 12px;
              gap: 12px;
              display: flex;
              align-items: flex-start;

              &-img {
                display: flex;
                align-items: center;
                text-align: center;
                flex-direction: column;

                img {
                  width: 36px;
                  height: 36px;
                  margin-bottom: 6px;
                }

                span {
                  color: var(--text-icon-tertiary);
                }
              }

              &-text {
                display: flex;
                flex-direction: column;
                width: calc(100% - 48px);

                &-wrap {
                  border-radius: 0px 8px 8px 8px;
                  background: var(--bg-tertiary);
                  max-width: 500px;
                  width: auto;
                  padding: 12px;
                  margin-bottom: 4px;
                }

                span {
                  color: var(--text-icon-tertiary);
                }
              }

              &-self {
                flex-direction: row-reverse;
  
                .message-text {
                  align-items: flex-end;
  
                  &-wrap {
                    border-radius: 8px 0px 8px 8px;
                    background: var(--bg-accentPrimary);
                  }
                }
              }
            }

            &::-webkit-scrollbar {
              width: 6px;
            }
            
            /* Track */
            &::-webkit-scrollbar-track {
              background: transparent;
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: var(--bg-tertiary);
              border-radius: 4px;
            }
          }

          &-send {
            position: absolute;
            bottom: 24px;
            left: 24px;
            width: calc(100% - 48px);
            height: 58px;
            background: var(--bg-secondary);
            display: flex;
            z-index: 3;
            border-radius: 12px;
            overflow: hidden;

            .form-input {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              padding-right: 140px;
              border-radius: 12px;
              background: var(--Bg-primary, #000);
            }
            
            .main-btn {
              position: absolute;
              right: 8px;
              top: 8px;
              z-index: 5;
            }
          }
        }
      }
    }

    &-footer {
      display: none;
    }
  }

  @media screen and (max-width: 1400px) {
    padding-left: 0!important;
    overflow: hidden;

    &-nav {
      transform: translateX(-100%);
      z-index: 5;

      &.open {
        transform: none;
      }

      .close {
        background-image: url(../img/close-white.svg);

        &::after {
          display: none;
        }
      }
    }
    
    &-head {
      .menu-account-btn {
        display: flex;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        background: url(../img/menu.svg) no-repeat center / cover;
      }
      
    }
  }

  @media screen and (max-width: 991px) {

    &-wrap {
      padding-bottom: 24px;
    }

    &-main {
      flex-direction: column;
      margin-bottom: 12px;
      gap: 12px;
  
      &-item {
        width: 100%;
  
        &-head {
          gap: 12px;
  
          &-icon {
            width: 26px;
            height: 26px;

            img {
              width: 16px;
              height: 16px;
            }
          }
  
          .h6 {
            width: calc(100% - 38px);
          }
        }
  
        .btns {
          flex-direction: column;
          gap: 8px;
  
          & > * {
            width: 100%;
          }
        }
      }
    }

    
  
    &-list {
      margin-bottom: 12px;
  
      &-head {
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 24px;
      }
    }

    .account-table {
      &_free {
        flex-direction: column;
        overflow: auto;

        .account-table-item {
          width: 1100px;
        }
      }

      &_main {
        .account-table-item-inner {
          width: calc(100% / 3);
  
          &:last-child {
            width: calc(100% / 3);
          }
        }
      }
    }
  
    &-help {
      padding: 24px;
      
      &-icon {
        width: 26px;
        height: 26px;

        img {
          width: 16px;
          height: 16px;
        }
      }
  
      .h6 {
        margin-bottom: 16px;
      }
    }
  }

  @media screen and (max-width: 768px) {
  
    .account-table {
      flex-direction: column;
      overflow: auto;

      &-item {
        width: 700px;
        flex: 0 0 auto;
      }
    }

    .profile-tab-wrap {
  
      form {
  
        .file-wrap {
  
          img {
            width: 72px;
            height: 72px;
            margin-right: 18px;
          }
  
          .input-file {
            gap: 12px;
            width: calc(100% - 90px);
            margin-bottom: 0;

            .primary-btn {
              color: transparent;
              width: 42px;
              height: 42px;
              overflow: hidden;
              background-image: url(../img/upload.svg);
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
  
        &.form-pass {
          label {
            width: 100%;
          }
        }
  
        .labels {
          flex-direction: column;
        }
      }
  
      .btns {
        flex-direction: column;
        width: 100%;

        & > * {
          width: 100%;
        }
      }
  
      .alert-text {
        padding: 12px;
        margin-bottom: 24px;
      }
  
      .aut-btn {
        margin-top: 24px;
        width: 100%;

        span:first-child {
          display: none;
        }
  
        span:last-child {
          display: block;
        }
      }
    }

    &-chat {
      height: calc(100vh - 180px);
      overflow: hidden;
      position: relative;
  
      &-left {
        border-right: none;
        width: 100%;
        position: relative;
        z-index: 3;

        .search {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .form-input {
            width: calc(100% - 40px);
          }
        }

        .chat-add {
          display: flex;
          width: 20px;
          height: 20px;
          background: url(../img/plus.svg) no-repeat center / cover;
          background-size: 18px 18px;
        }
      }
  
      &-right {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
  
        &.empty {
          display: flex;
          align-items: center;
          justify-content: center;
          display: none;

          .chat-add {
            display: none;
          }
        }

        &-tab {
          background: var(--bg-secondary);

          &.active {
            z-index: 10;
          }
  
          .chat-item {
  
            &-head {
              height: 106px;

              .back-chat {
                display: flex;
              }
            }
  
            &-content {
              height: calc(100% - 106px);
              padding: 12px 12px 82px;
            }
  
            &-send {
              bottom: 12px;
              left: 12px;
              width: calc(100% - 24px);
              height: 58px;
  
              .form-input {
                padding-right: 62px;
              }
              
              .main-btn {
                width: 42px;
                height: 42px;
                overflow: hidden;
                color: transparent;
                background-image: url(../img/send.svg);
                background-repeat: no-repeat;
                background-position: center;
              }
            }
          }
        }
      }

      &-footer {
        display: flex;
        position: absolute;
        width: 100%;
        border-top: 1px solid var(--border-primary);
        background: var(--bg-secondary);
        bottom: 0;
        left: 0;
        padding: 24px;
        z-index: 3;
      }
    }

    .account-table_mobile .account-table-item {
      width: 1000px;
    }

    &-payment { 
      .payments-list {
        gap: 8px;
        
        &-item {
          width: calc(50% - 4px);
        }

        &_col {
          .payments-list-item {
            width: 100%;
          }
        }
      }

      .prices {
        flex-wrap: wrap;
        gap: 12px 24px;
        justify-content: center;
        max-width: 250px;

        p {
          width: 100px;
          text-align: center;
        }

        p:nth-child(1) {
          order: -2;
        }
        
        p:nth-child(3) {
          order: -1;
        }
      }

      .payment-btn {
        width: 100%;
      }
    }
  }
}

.label-box {
  position: relative;

  label {
    width: 100%;
  }
}

.box-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.menu-modal {
  width: 100%;
  height: 100%;
  background: var(--bg-primary);
  padding: 24px 48px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &-head {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 88px;
    gap: 8px;

    .box-modal-close {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 16px;
      width: 60px;
      height: 60px;
      border-radius: 12px;
      background: var(--bg-transparentBlurBlack);
      backdrop-filter: blur(16px);
      cursor: pointer;
    }

    .logo {
      display: flex;
    }

    .lang-menu {
      margin-left: auto;

    }
  }

  .modal-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    margin-bottom: 64px;

    &-item {
      display: flex;
      align-items: flex-start;
      gap: 24px;

      &:hover,
      &.active {
        color: var(--text-icon-accent-primary);
      }
    }
  }

  .socials {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    margin-top: auto;

    &-item {
      border-radius: 12px;
      border: 1px solid var(--border-transparentBlack);
      background: var(--bg-transparentBlurBlack2);
      backdrop-filter: blur(16px);
      display: flex;
      align-items: center;
      gap: 24px;
      width: calc(50% - 12px);
      padding: 18px;

      &-inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 8px;

        span {
          opacity: 0.5;
        }
      }

      &:hover {
        transform: scale(0.95);
      }
    }

    img {
      width: 36px;
      height: 36px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 16px 24px 48px;
  
    &-head {
      flex-wrap: wrap;
      margin-bottom: 48px;
      gap: 8px;
  
      .box-modal-close {
        margin-right: 0;
        width: 42px;
        height: 42px;
      }
  
      .logo {
        display: flex;
        order: -2;
        width: calc(50% - 4px);

        img {
          width: 32px;
          height: auto;
        }
      }
  
      .lang-menu {
        margin-left: auto;
        order: -1;
        width: 42px;
        height: 42px;
      }

      .primary-btn,
      .main-btn {
        width: calc(50% - 4px);
        margin-top: 32px;
      }

      .primary-btn {
        order: 2;
      }
    }
  
    .modal-menu {
      margin-bottom: 48px;
  
      &-item {
        gap: 12px;
      }
    }
  
    .socials {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;
      margin-top: auto;
  
      &-item {
        width: 100%;
      }
    }
  
  }
}

.stories-modal {
  padding: 130px 24px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
  }
    
  &-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
    margin-bottom: 16px;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      
      path {
        fill: var(--text-icon-primary);
      }
    }

    span {
      color: var(--text-icon-transparent-white);
    }
  }

  .stories-swiper {
    width: 100%;
    max-width: 384px;
    margin-bottom: 16px;
    overflow: visible;
    position: relative;
    z-index: 3;
    min-height: 680px;
    max-height: calc(100vh - 400px);

    &-slide {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      border-radius: 16px;
      overflow: hidden;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.48) 0%,  rgba(0, 0, 0, 0.48) 100%);
        opacity: 0;
      }

      &:not(.swiper-slide-active) {
        transform: scale(.8);

        .secondary-btn {
          opacity: 0;
        }

        &::after {
          opacity: 1;
        }
      }
      

      img,
      video {
        border-radius: 16px;
        border: 1px solid var(--border-transparentBlack);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .secondary-btn {
        position: absolute;
        z-index: 2;
        left: 12px;
        bottom: 12px;
        width: calc(100% - 24px);
      }
    }
  }

  .swiper-pagination {
    position: relative;
    bottom: auto;
    left: auto;
    top: auto;
    width: 384px;
    height: 4px;
    border-radius: 8px;
    background: var(--text-icon-tertiary);
    overflow: hidden;

    &-bullet {
      position: absolute;
      left: 0;
      top: 0;
      height: 4px;
      width: 100%;
      opacity: 0;
      background: var(--text-icon-primary);
      margin: 0!important;

      &-active {
        opacity: 1;
        animation: slide-progress 8s linear forwards;
      }
    }
  }

  @keyframes slide-progress {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 1400px) {
    padding: 64px 24px;

    &-close {
      margin-bottom: 24px;
    }

    .stories-swiper {
      max-width: 294px;
      margin-bottom: 24px;
      max-height: calc(100vh - 300px);
    }

    .swiper-pagination {
      width: 294px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 61px 24px;

    .stories-swiper {
      overflow: hidden;
      max-width: 312px;
      width: 100%;
      height: 492px;
      min-height: 1px;
      max-height: 100%;
    }

    .swiper-pagination {
      max-width: 312px;
      width: 100%;
    }
  }
}

.video-modal {
  padding: 130px 24px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
  }
    
  &-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
    margin-bottom: 16px;
    cursor: pointer;

    svg {
      width: 24px;
      height: 24px;
      
      path {
        fill: var(--text-icon-primary);
      }
    }

    span {
      color: var(--text-icon-transparent-white);
    }
  }

  iframe {
    max-width: 100%;
  }

  @media screen and (max-width: 1400px) {
    padding: 64px 24px;

    &-close {
      margin-bottom: 24px;
    }

    iframe {
      height: 400px;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 61px 24px;

  }
}

.form-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;

  &#autModal {
    .form-wrap {
      width: 100%;
      max-width: 840px;
      padding-left: 48px!important;
      padding-right: 48px!important;

      img {
        width: 240px;
        height: 240px;
        margin: 24px 0;
      }

      .warning-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 8px;
        background: rgba(255, 183, 0, 0.24);
        padding: 12px;
        gap: 10px;
        color: #FFAE00;
        text-align: left;
      }

      .btns {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 12px;
        margin-top: 24px;
        
        & > * {
          margin: 0;
          width: auto;
          padding: 12px 18px;
        }
      }
    }
  }

  &#chatModal {
    .form-wrap {
      width: 100%;
      max-width: 860px;
      padding-left: 48px!important;
      padding-right: 48px!important;

      .labels {
        display: flex;
        justify-content: space-between;

        label {
          width: calc(50% - 6px);
        }
      }

      .custom-select {
        width: 100%;
        position: relative;
  
        &::after {
          content: "";
          width: 20px;
          height: 20px;
          background: url(../img/dropdown.svg) no-repeat center / cover;
          position: absolute;
          top: 12px;
          right: 16px;
          transform: rotate(180deg);
          z-index: 3;
        }
      }

      select {
        appearance: none;
        width: 100%;
  
        option:first-child {
          display: none;
        }
      }

      .input-file {
        cursor: pointer;
        max-width: 100%;

        input {
          position: absolute;
          opacity: 0;
          pointer-events: none;
          height: 0;
          width: 0;
        }

        .file-btn {
          border-radius: 8px;
          border: 1px solid var(--border-primary);
          background: var(--bg-secondary);
          width: 100%;
          padding: 0 16px;
          display: flex;
          align-items: center;

          .btn {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-right: 16px;
            border-right: 2px solid var(--border-primary);
          }

          &-text {
            padding-left: 16px;
            padding-top: 12px;
            padding-bottom: 12px;
            width: calc(100% - 140px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-align: left;
          }
        }
      }

      &__box {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      &__left {
        width: calc(50% - 12px);
        display: flex;
        flex-direction: column;

        textarea.form-input {
          margin-bottom: 0;
        }
      }

      &__right {
        width: calc(50% - 12px);
        display: flex;
        flex-direction: column;
        position: relative;

        .file-btn {
          display: none!important;
        }

        .file-image {
          height: 276px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 56px 16px;
          gap: 16px;
          color: #FFFFFFA3;
          position: relative;
          overflow: hidden;

          .form-input {
            background: transparent!important;
            align-items: center;
            justify-content: center;
            padding: 12px 16px;
            width: auto;
            color: #FFFFFFA3;
          }

          &.drag {
            background: var(--bg-primary);
          }
        }

        .file-preview {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 5;
          opacity: 0;
          transition: all .4s ease;

          &.active {
            opacity: 1;
          }
        }

        .file-remove {
          background: #7F7F7F29;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 42px;
          height: 42px;
          backdrop-filter: blur(32px);
          position: absolute;
          z-index: 10;
          left: 50%;
          top: calc(50% + 24px);
          cursor: pointer;
          transform: translate(-50%, -50%);
          transition: all .4s ease;
          opacity: 0;
          pointer-events: none;

          &.active {
            opacity: 1;
            pointer-events: auto;
          }

          &:hover {
            background-color: #1f1f1f;
          }
        }
      }
    }
  }

  .form-wrap {
    padding: 66px 24px 24px!important;
    border: 1px solid var(--border-primary)!important;
    border-radius: 18px!important;
  }

  .input-wrap {
    width: 100%;
  }

  .labels {
    width: 100%;
    display: flex;
    justify-content: space-between;

    label {
      margin-top: 6px;
    }

    label:first-child {
      width: 86px;
    }

    label:last-child {
      width: calc(100% - 108px);
    }
  }

  .suc-icon {
    width: 44px;
    height: 44px;
    border-radius: 8px;
    background: var(--bg-tertiary);
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grey {
    color: var(--text-icon-transparent-white);
  }

  .form-wrap-close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background: var(--bg-secondary, #141414);
    backdrop-filter: blur(16px);
    cursor: pointer;
  }

  textarea {
    height: 84px;
    width: 100%;
    resize: none;
    padding-top: 12px;
    margin-bottom: 24px;
    font-family: "PT Root UI";
  }

  .main-btn {
    width: 100%;
    padding: 12px 18px;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 0;

    &.arcticmodal-close {
      width: auto;
    }
  }

  @media screen and (max-width: 768px) {
    justify-content: flex-start;

    .form-wrap {
      padding-top: 102px!important;
    }

    &#autModal {
      .form-wrap {
        padding-left: 24px!important;
        padding-right: 24px!important;
  
  
        .btns {
          flex-direction: column-reverse;
          
          & > * {
            width: 100%;
          }
        }
      }
    }

    &#chatModal {
      .form-wrap {
        padding-left: 24px!important;
        padding-right: 24px!important;
  
        .labels {
          flex-direction: column;
          gap: 24px;
  
          label {
            width: 100%;
          }
        }

          
        .input-file {
  
          .file-btn {
  
            &-text {
              width: calc(100% - 120px);
            }
          }
        }

        
  
        &__box {
          flex-direction: column;
        }
  
        &__left {
          width: 100%;
  
          textarea.form-input {
            margin-bottom: 0;
          }
        }
  
        &__right {
          width: 100%;
  
          .file-btn {
            display: flex!important;
          }
  
          .file-image {
            display: none;
          }
  
          .file-remove {
            display: none;
          }
        }
      }
    }
  }
}

.steps-modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;

  &-wrap {
    padding-bottom: 12px;
    width: 100%;
    max-width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    background: var(--bg-primary);
    border-right: 1px solid var(--border-primary);
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 32px;

    .steps-modal-close {
      cursor: pointer;
    }

    svg {
      width: 24px;
      height: 24px;
      
      path {
        fill: var(--text-icon-primary);
      }
    }
  }

  &-list {
    overflow: auto;
    height: calc(100vh - 112px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 32px;
    padding-left: 32px;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding-top: 16px;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--border-primary);
      gap: 8px;

      &:first-child {
        border-top: 1px solid var(--border-primary);
      }
      
      & > span {
        display: block;
        margin-bottom: 8px;
      }

      &-inner {
        display: flex;
        align-items: center;

        p,
        span {
          text-align: left;
        }

        img {
          width: 24px;
          height: 24px;
          margin-right: 12px;
        }

        p {
          margin-right: 8px;
        }
      }

      span {
        color: var(--text-icon-tertiary);
      }
    }

    &::-webkit-scrollbar {
      width: 6px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background: transparent;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background: var(--bg-tertiary);
    }
  }

  @media screen and (max-width: 768px) {
    &-wrap {
      max-width: 100%;
    }
  }
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.48)!important;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.arcticmodal-overlay {
  background: rgba(0, 0, 0, 0.48)!important;
  opacity: 1!important;
}
.arcticmodal-container_i2 {
  padding: 0;
}
.arcticmodal-container_i {
  width: 100%;
  border-spacing: 0;
}

.count-input {
  display: flex;
  gap: 8px;
  width: 100%;

  .number-wrap {
    width: calc(100% - 60px);
  }
}

.count-all {
  padding: 12px 14px;
  border: 1px solid var(--border-primary);
  background: var(--bg-secondary);

  &:hover,
  &:focus {
    background: var(--bg-primary);
    color: #fff;
  }
}